@import '../colors';

.button {
  &:global(.primary) {
    &:hover {
      background-color: $green-900;
      color: $green-50;
    }
  }

  &:global(.no-bg) {
    &:hover {
      color: $green-900;
    }
  }

  &:global(.stroke) {
    &:hover {
      color: $green-900;
      border-color: $green-900;
      background-color: $green-50;
    }
  }
}
