// TODO: get rid of this and instead of using variables for colors,
// incorporate Tailwind CSS into build process instead of using CDN
// version, and use custom theme for colors?

$green-50: #ECFDF5;
$green-900: #064E3B;
$blue-500: #3B82F6;
$red-500: #EF4444;
$red-600: #DC2626;
